<!-- About Section -->
    <section id="quali">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Elisabeth Mögele</h2>
                    <h3 class="section-subheading text-muted">Hospitation, Ausbildung, Fortbildung und Lehrtätigkeit</h3>
                </div>
				<div class="team-member">
					<img src="img/about/elisabeth.jpg" class="img-responsive img-circle" alt="">
				</div>
            </div>
            <div class="row">

				<h4>Ausbildung:</h4>
				<p>	
				<b>Montessori-Pädagogik-Diplome der Österreichischen Gesellschaft für Montessori-Pädagogik</b>
				<br>-	für das Kinderhaus und 
				<br>-	die Schule 
				<br>(Januar 2000 – November 2002)

				<br><br>
				
				<b>Montessori-Therapie-Diplom des Montessori-Berufsverbandes</b> in Verbindung mit
				<br>-	dem Sozialpädiatrischen Zentrum und der Klinik im Kinderzentrum München,
				<br>-	dem Lehrstuhl für Sozialpädiatrie und Jugendmedizin der LMU München
				<br>(April 2002 – November 2003)

				<br><br>
				
				<b>Association Montessori-Internationale 
				A.M.I.-Course: “Primary Course für das Alter 3 bis 6 Jahre" </b>
				<br>bei Frau Roth, München
				<br>(Oktober 2006 – August 2007)
					
				<br><br>
									
				<b>Gebärdensprache</b>
				<br>-	Grundkurs und 6 Aufbau-Kurse (2004 – 2006)
				<br>-	tägliche Anwendung der Gebärdensprache seit 2007
				<br>-	Privatstunden bei der Gebärdensprachschule „Blickfang“ (2008)
				</p>
				
				<h4>Hospitationen:</h4>
				<p class="text-muted">
				<b>Kinderzentrum München</b>
					<ul>
					<li>Montessori-Therapie-Abteilung: einmal wöchentlich vom 09.01.2001 bis 24.07.2001, Hospitation bei verschiedenen Therapeutinnen</li>
					<li>31.01.2001 – Hospitation in der Montessori-Schule</li>
					<li>14.02.2001 – Hospitation Sensorische Integration</li>
					<li>17.07.2001 – Hospitation: Musiktherapie bei Kindern mit Cochlear-Implantat</li>
					</ul>
	
				<br><br>
				
				<b>Pädaudiologische Beratungsstelle, Fürstenrieder Str., München</b>
				<ul>
				<li>05.02.2001 – Einführung in die Audiometrie (3 Stunden)</li>
				<li>12.02.2001 – Hospitation in der Frühförderung</li>
				<li>19.02.2001 – detaillierte Informationen zur Arbeit in der Frühförderung</li>
				<li>26.02.2001 – Hospitation einer Audiometrie bei einem jungen Kind mit Verdacht auf AVWS</li>

Praxis Lore Anderlik
Juni 2002 bis Nov. 2003: Arbeit als Montessori-Therapeutin, supervidiert durch 
	Frau Lore Anderlik

									</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>